.not-found {
    min-height: calc(100vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.not-found__title {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    margin: 25px 0 184px;
}

.not-found__back {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    transition: opacity 0.5s ease;
}

.not-found__back:hover {
    opacity: 0.6;
}

@media screen and (max-width: 320px) {
    .not-found__image {
        width: 170px;
    }

    .not-found__title {
        font-size: 12px;
        line-height: 15px;
    }

    .not-found__back {
        font-size: 12px;
        line-height: 15px;
    }
}
